* {
    font-family: "Patua One", serif;
}

:root {

    --svg-fill: #20948B;
    --bg-color: #F2F0EF;
    --text-color-background: black;
    --text-color-svg: white;
    --link-color: #20948B;
    --form-bg-color: whitesmoke;
    --form-input: #20948B;
    --btn-hover: #04554e;
    --bg-navbar: #20948B;
    --login-nav: #186a63;
    --step-box: #186a63;
    --login-nav-outline: white;
    --signup-nav: white;
    --signup-nav-outline: #186a63;
    --home-bg-color: rgb(197 238 223);
    --icon-filter: brightness(0) invert(1);
     --icon-filter-hov: invert(41%) sepia(82%) saturate(2970%) hue-rotate(253deg) brightness(101%) contrast(96%);
}

[data-theme='dark'] {
    --svg-fill: #676464;
    --bg-color: black;
    --text-color-background: white;
    --text-color-svg: white;
    --link-color: #803BF7;
    --form-bg-color: #1B1C1C;
    --form-input: #676464;
    --btn-hover: #4106a5;
    --bg-navbar: #1E1E1E;
    --login-nav: #5702E9;
    --step-box: #5702E9;
    --login-nav-outline: white;
    --signup-nav: white;
    --signup-nav-outline: #5702E9;
   
}

.custom-bg {
    background-color: var(--bg-color) !important;
    color: var(--text-color-svg) !important;
    transition: background-color 0.3s ease;
}

.custom-svg {
    color: var(--text-color-svg);
}

.custom-svg path {
    fill: var(--svg-fill);
    transition: fill 0.3s ease;
}

a {
    text-decoration: none !important;
}

.link-color {
    font-size: 20px;
    color: var(--link-color);
    transition: color 0.3s ease;
    cursor: pointer;
    text-decoration: none !important;
}

.link-color:hover {
    color: var(--btn-hover);
    text-decoration: underline !important;
}

.link-color-btn {
    background-color: var(--link-color);
    transition: background-color 0.3s ease;
    width: 15vw;
}

.link-color-btn:hover {
    background-color: var(--btn-hover);
}

.form-text-color {
    color: var(--text-color-background);
}

.auth-form {
    border: 2px solid var(--text-color-background);
    background-color: var(--form-bg-color);
    transition: background-color 0.3s ease;
}

.input {
    background-color: var(--form-input);
    transition: background-color 0.3s ease;
}

.input:focus {
    background-color: var(--form-input) !important;
    color: white !important;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(7, 103, 38, 0.25);
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}