.login-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.curve-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 45%;
  z-index: 1;
}

.login-content {
  position: relative;
  z-index: 2;
  flex: 1;
  width: 50%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greet {
  position: relative;
  z-index: 2;
  flex: 1;
  margin: 220px 60px;
  width: 30vw;
  padding-left: 5vw;
}

.greet h2 {
  font-size: 60px;
  margin-bottom: 40px;
}

.greet p {
  font-size: 25px;
  line-height: 20px;
}

.login-content h2 {
  font-size: 64px;
}

.login-content p {
  font-size: 24px;
}

.forgot {
  color: grey;
  cursor: pointer;
}

.forgot:hover {
  color: rgb(63, 63, 63);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  border-radius: 10px;
  padding: 30px;
}

.input {
  color: white;
  border: 1px solid black;
}

.input-group-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-toggle-icon {
  position: absolute;
  right: 15px;
  width: 20px;
  height: auto;
  cursor: pointer;
  z-index: 10;
  filter: brightness(0) invert(1);
  opacity: 0.7;
  transition: opacity 0.2s;
}

.password-toggle-icon:hover {
  opacity: 1;
}

/* Ensure the text doesn't overlap the icon */
.input.pe-5 {
  padding-right: 45px !important;
}