.login-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: white;
  overflow: hidden;
}

.curve-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 45%;
}

.login-content {
  position: relative;
  z-index: 2;
  width: 50%;
  padding: 80px;
}

.greet{
        margin: 220px 60px;
    width: 30vw;
    text-align: center;
}
.greet h2{
    font-size: 60px;
    margin-bottom: 40px;
}
.greet p{
    font-size: 25px;
    line-height: 20px;
}