
.logo {
    width: 50px;
    height: 50px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    background-color: var(--bg-navbar);
}
.log{
    background-color: var(--login-nav);
    color: var(--login-nav-outline);
    border: 3px solid var(--login-nav-outline);
}
.log:hover{
    
    background-color: var(--signup-nav);
    color: var(--signup-nav-outline);
    border: 3px solid var(--signup-nav-outline);
}
.sign{
    background-color: var(--signup-nav);
    color: var(--signup-nav-outline);
    border: 3px solid var(--signup-nav-outline);
}
.sign:hover{
    background-color: var(--login-nav);
    color: var(--login-nav-outline);
    border: 3px solid var(--login-nav-outline);

}