.logo {
    width: 50px;
    height: 50px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: var(--bg-navbar);
}

.log {
    background-color: var(--login-nav);
    color: var(--login-nav-outline);
    border: 3px solid var(--login-nav-outline);
}

.log:hover {

    background-color: var(--signup-nav);
    color: var(--signup-nav-outline);
    border: 3px solid var(--signup-nav-outline);
}

.sign {
    background-color: var(--signup-nav);
    color: var(--signup-nav-outline);
    border: 3px solid var(--signup-nav-outline);
}

.sign:hover {
    background-color: var(--login-nav);
    color: var(--login-nav-outline);
    border: 3px solid var(--login-nav-outline);

}



.dashboard-nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dashboard-nav-links li a {
    text-decoration: none;
    color: white;
}
.dashboard-nav-links li a.active-link {
    color: var(--login-nav);
    /* border-bottom: 2px solid #a855f7; */
    padding-bottom: 4px;
}